@font-face {
    -fx-font-family: 'SuisseIntl-Medium';
    src: url('/main/resources/fonts/SuisseIntl-Medium.otf');
}

/*
@font-face {
    -fx-font-family: 'SuisseIntl-Regular';
    src: url('main/resources/fonts/SuisseIntl-Regular.otf');
}

@font-face {
    -fx-font-family: 'SuisseIntl-Light';
    src: url('main/resources/fonts/SuisseIntl-Light.ttf');
}
*/

.button {
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-font-family: 'SuisseIntl-Medium';
}
.label{
    -fx-font-size: 50px;
    -fx-text-fill: black;
    -fx-font-family: 'SuisseIntl-Medium';
}
