/* hauptmenue.css */

@font-face {
    -fx-font-family: 'SuisseIntl-Medium';
    src: url('../fonts/SuisseIntl-Medium.otf');
}

@font-face {
    -fx-font-family: 'SuisseIntl-Bold';
    src: url('../fonts/SuisseIntl-Bold.otf');
}

@font-face {
    -fx-font-family: 'SuisseIntl-Regular';
    src: url('../fonts/SuisseIntl-Regular.otf');
}

@font-face {
    -fx-font-family: 'SuisseIntl-Light';
    src: url('../fonts/SuisseIntl-Light.ttf');
}

.root {
    -fx-primary: #0029FF;
    -fx-offwhite: #EBEBEB;
    -fx-black: #000000;
    -fx-white: #FFFFFF;
}

.header-label {
    -fx-font-family: "Suisse Intl-Medium";
    -fx-text-fill: -fx-black;
    -fx-font-weight: 500;
}

.button-container {
    -fx-spacing: 50;
    -fx-alignment: center-left;
}

.custom-button {
    -fx-background-color: -fx-offwhite;
    -fx-padding: 20 50;
    -fx-effect: dropshadow(gaussian, -fx-primary, 0, 0, 10, 10);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: center-left;
}

.button-label {
    -fx-font-family: "Suisse Intl-Bold";
    -fx-text-fill: -fx-black;
    -fx-font-weight: 700;
}

.custom-button .image-view {
    -fx-translate-x: 10;
}

/* Responsive Anpassungen */
.large-layout .header-label { -fx-font-size: 30px; }
.large-layout .button-label { -fx-font-size: 50px; }

.medium-layout .header-label { -fx-font-size: 24px; }
.medium-layout .button-label { -fx-font-size: 40px; }
.medium-layout .custom-button { -fx-padding: 15 40; }

.small-layout .header-label { -fx-font-size: 18px; }
.small-layout .button-label { -fx-font-size: 30px; }
.small-layout .custom-button {
    -fx-padding: 10 30;
}
.small-layout .custom-button .image-view {
    -fx-fit-height: 30;
    -fx-fit-width: 30;
}