/* lager.css */

.active-button {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.raum-erstellen-view {
    -fx-background-color: white;
    -fx-padding: 40;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-content-display: graphic-only;
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;
}

.icon-button:hover {
    -fx-effect: dropshadow(gaussian, -fx-primary, 0, 0, 3, 3);
}

.icon-button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

/* Checkbox style */
/* Checkbox style */
.custom-checkbox {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-max-width: 24px;
    -fx-max-height: 24px;
}

.custom-checkbox .box {
    -fx-background-color: -fx-offwhite;
    -fx-border-color: transparent;
}

.custom-checkbox:selected .box {
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
}

.custom-checkbox:selected .mark {
    -fx-background-color: -fx-white;
}

.invalid-input {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-content-display: graphic-only;
}

.icon-button:hover {
    -fx-effect: dropshadow(gaussian, -fx-primary, 0, 0, 3, 3);
}

.icon-button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 0);
}

.inventory-add-button {
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.inventory-add-button:hover {
    -fx-effect: dropshadow(gaussian, #0029FF, 63, 0.2, 0, 0);
}

.inventory-add-button:pressed {
    -fx-effect: dropshadow(gaussian, #0029FF, 32, 0, 0, 0);
}

/* Toolbox icon styles */
.tool-button {
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.tool-button:hover {
    -fx-background-color: #E0E0E0;
    -fx-border-color: #BDBDBD;
}

.tool-button:pressed {
    -fx-background-color: #BDBDBD;
}

.tool-button.selected {
    -fx-background-color: #0029FF;
    -fx-border-color: #001FCC;
}

.tool-button-selected {
    -fx-background-color: -fx-offwhite;
}

.tool-button.selected:hover {
    -fx-background-color: #001FCC;
    -fx-border-color: #001499;
}

.tool-button.selected .image-view {
    -fx-effect: dropshadow(gaussian, white, 10, 0, 0, 0);
}

/* RaumErstellenView */

.raum-erstellen-header {
    -fx-alignment: center-left;
    -fx-pref-width: 100%;
    -fx-max-width: infinity;
    -fx-spacing: 10;
}

.raum-erstellen-close-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.raum-erstellen-create-button {
    -fx-background-color: -fx-offwhite;
    -fx-padding: 20 50;
    -fx-effect: dropshadow(gaussian, -fx-primary, 0, 0, 10, 10);
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: center;
    -fx-max-width: infinity;
}

.raum-input {
    -fx-background-color: -fx-offwhite;
    -fx-padding: 22px;
    -fx-border-color: transparent;
    -fx-pref-width: 355px;
    -fx-border-width: 3px;
}

.raum-input:focused {
    -fx-border-width: 3px;
    -fx-border-color: -fx-primary;
}