/* profilmanager.css */

.profil-manager-view {
    -fx-background-color: -fx-white;
    -fx-border-width: 1;
    -fx-padding: 40;
}

.profil-manager-header {
    -fx-alignment: center-left;
    -fx-pref-width: 100%;
    -fx-display: flex;
    -fx-justify-content: space-between;
    -fx-align-items: flex-start;
}

.profil-manager-close-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.profil-zelle {
    -fx-padding: 10;
}
