/* profilmanager.css */

.profil-manager-view {
    -fx-background-color: white;
    -fx-padding: 40;
}

.profil-manager-header {
    -fx-alignment: center-left;
    -fx-pref-width: 100%;
    -fx-display: flex;
    -fx-justify-content: space-between;
    -fx-align-items: flex-start;
}

.profil-manager-close-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.profil-zelle {
    -fx-background-color: #EBEBEB;
    -fx-padding: 22;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.profil-zelle .icon-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5;
}

.profil-zelle .icon-button:hover {
    -fx-background-color: #D3D3D3;
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
